.container {
    height: 50px;
    width: 1252px;
    padding: 15px 15px;
   background-color: rgb(61, 175, 252);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.link {
    color: gold;
    font-size: 20px;
}

.div {
    display: flex;
    gap: 30px;
}