.container {
    height: 50px;
    width: 1252px;
    padding: 15px 15px;
   background-color: rgb(16, 156, 249);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.link {
    color: gold;
    font-size: 20px;
    font-weight: 700;
}

.div {
    display: flex;
    gap: 30px;
}

.initials {
    background-color: #333;
    color: gold;
    border-radius: 50%;
    padding: 6px 10px;
    font-weight: bold;
    margin-right: 10px;
  }

  .div {
    align-items: center;
  }
  